</div>
</div>
</div>
<div class="col-lg-5 col-md-12 col-pad-0 bg-img none-992">
<div class="information">
    <div class="btn-section"></div>
    <h3>Zadig，让工程师更加专注创造～</h3>
    <p>
        工程师热爱的云原生持续交付平台：具备灵活易用的高并发工作流、面向开发者的云原生环境、高效协同的测试管理、强大免运维的模板库、客观精确的效能洞察以 及云原生 IDE 插件等重要特性，为工程师提供统一的协作平面。
    </p>
</div>
</div>
</div>
</div>
<footer>
<div class="copyright">
筑栈（上海）信息技术有限公司 KodeRover ©{{{year}}}
<span class="el-tooltip el-icon-info" aria-describedby="el-tooltip-1130" tabindex="0"></span>
</div>
</footer>
</div>
</div>
</body>

</html>
<script src="{{ url .ReqPath "static/js/axios.min.js" }}"></script>
<script src="{{ url .ReqPath "static/js/store.min.js" }}"></script>
<script src="{{ url .ReqPath "static/js/vue.min.js" }}"></script>
<script src="{{ url .ReqPath "static/js/main.js" }}"></script>

