<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,viewport-fit=cover"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="../static/favicon/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="../static/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="../static/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="../static/favicon/site.webmanifest" />
        <link
            rel="mask-icon"
            href="../static/favicon/safari-pinned-tab.svg"
            color="#e20382"
        />
        <meta name="msapplication-TileColor" content="#e20382" />
        <meta name="theme-color" content="#ffffff" />
        <script type="text/javascript" src="../static/js/vue.min.js"></script>
        <script
            type="text/javascript"
            src="../static/js/element.min.js"
        ></script>
        <link href="../static/css/index.css" rel="stylesheet" />
        <link href="../static/css/main.css" rel="stylesheet" />
        <link href="../static/css/iconfont.css" rel="stylesheet" />
        <link href="../static/css/notosanssc.css" rel="stylesheet" />
        <link href="../static/css/overpass.css" rel="stylesheet" />
        <title>登录</title>
    </head>

    <body>
        <div
            id="dex-login"
            style="height: 100%; display: flex; flex-direction: column"
        >
            <div class="login" style="height: 100%">
                <div class="container-fluid">
                    <el-row type="flex">
                        <el-col
                            class="banner-container none-992"
                            :xs="0"
                            :sm="0"
                            :md="9"
                            :lg="9"
                        >
                            <div class="logo-container">
                                <img
                                    src="../static/img/default-logo.png"
                                    alt="logo"
                                />
                            </div>
                            <div class="content-container">
                                <div class="information">
                                    <h3>工程师信赖的，</h3>
                                    <h3 class="highlight">
                                        云原生 DevOps 价值链平台
                                    </h3>
                                </div>
                                <div class="features-container">
                                    <el-carousel
                                        height="100%"
                                        arrow="never"
                                        :interval="4000"
                                    >
                                        <el-carousel-item>
                                            <div class="feature-container">
                                                <div
                                                    class="illustration-container"
                                                >
                                                    <img
                                                        src="../static/img/illustration/workflow.png"
                                                        alt="灵活易用的高并发工作流"
                                                    />
                                                </div>
                                                <p class="desc">
                                                    灵活易用的高并发工作流
                                                </p>
                                            </div>
                                        </el-carousel-item>
                                        <el-carousel-item>
                                            <div class="feature-container">
                                                <div
                                                    class="illustration-container"
                                                >
                                                    <img
                                                        src="../static/img/illustration/env.png"
                                                        alt="面向开发者的云原生环境"
                                                    />
                                                </div>
                                                <p class="desc">
                                                    面向开发者的云原生环境
                                                </p>
                                            </div>
                                        </el-carousel-item>
                                        <el-carousel-item>
                                            <div class="feature-container">
                                                <div
                                                    class="illustration-container"
                                                >
                                                    <img
                                                        src="../static/img/illustration/test.png"
                                                        alt="高效协同的测试管理"
                                                    />
                                                </div>
                                                <p class="desc">
                                                    高效协同的测试管理
                                                </p>
                                            </div>
                                        </el-carousel-item>
                                        <el-carousel-item>
                                            <div class="feature-container">
                                                <div
                                                    class="illustration-container"
                                                >
                                                    <img
                                                        src="../static/img/illustration/templates.png"
                                                        alt="强大免运维的模板库"
                                                    />
                                                </div>
                                                <p class="desc">
                                                    强大免运维的模板库
                                                </p>
                                            </div>
                                        </el-carousel-item>
                                        <el-carousel-item>
                                            <div class="feature-container">
                                                <div
                                                    class="illustration-container"
                                                >
                                                    <img
                                                        src="../static/img/illustration/insights.png"
                                                        alt="客观精确的效能洞察"
                                                    />
                                                </div>
                                                <p class="desc">
                                                    客观精确的效能洞察
                                                </p>
                                            </div>
                                        </el-carousel-item>
                                    </el-carousel>
                                </div>
                            </div>
                        </el-col>
                        <el-col
                            :xs="24"
                            :sm="24"
                            :md="15"
                            :lg="15"
                            class="form-section"
                        >
                            <div class="login-inner-form">
                                <div class="details">
                                    <!-- 头结束 -->
                                    <!-- <header>
                                        <a href="#">
                                            <img
                                                src="../static/img/default-logo-white.png"
                                                alt="logo"
                                            />
                                        </a>
                                    </header>
                                    <section>
                                        <el-form
                                            :model="loginForm"
                                            status-icon
                                            :rules="rules"
                                            ref="loginForm"
                                            label-position="left"
                                            hide-required-asterisk
                                        >
                                            <el-form-item
                                                label="用户名"
                                                prop="account"
                                            >
                                                <el-input
                                                    v-model="loginForm.account"
                                                    placeholder="请输入用户名"
                                                    autocomplete="off"
                                                ></el-input>
                                            </el-form-item>
                                            <el-form-item
                                                label="密码"
                                                prop="password"
                                            >
                                                <el-input
                                                    type="password"
                                                    @keyup.enter.native="login"
                                                    v-model="loginForm.password"
                                                    autocomplete="off"
                                                    placeholder="请输入密码"
                                                    show-password
                                                ></el-input>
                                            </el-form-item>
                                        </el-form>
                                        <span class="error-text"
                                            >用户名或密码不正确</span
                                        >
                                        <el-button
                                            type="submit"
                                            @click="login"
                                            :loading="loading"
                                            class="btn-md btn-theme login-btn"
                                            >登录</el-button
                                        >
                                    </section>
                                    <section class="auth-types">
                                        <span
                                            class="login-button-show methods-desc"
                                        >
                                            <span>第三方登录：</span>
                                        </span>
                                        <a href="test">
                                            <span class="login-button-show">
                                                <i
                                                    class="iconfont icongithub"
                                                ></i>
                                            </span>
                                        </a>
                                        <a href="test">
                                            <span class="login-button-show">
                                                <i
                                                    class="iconfont iconldap"
                                                ></i>
                                            </span>
                                        </a>
                                        <a href="test">
                                            <span class="login-button-show">
                                                <i
                                                    class="iconfont iconoauth"
                                                ></i>
                                            </span>
                                        </a>
                                        <a href="test">
                                            <span class="login-button-show">
                                                <i
                                                    class="iconfont iconotherauth"
                                                ></i>
                                            </span>
                                        </a>
                                        <span class="divide">|</span>
                                        <a href="/signin?findPassword=true">
                                            <span
                                                class="login-button-show function-btn"
                                            >
                                                <span>找回密码</span>
                                            </span>
                                        </a>
                                        <template v-if="showRegistration">
                                            <span class="divide">|</span>
                                            <a href="/signin?signUp=true">
                                                <span
                                                    class="login-button-show function-btn"
                                                >
                                                    <span>注册</span>
                                                </span>
                                            </a>
                                        </template>
                                    </section> -->
                                    <!-- 尾结束 -->
                                </div>
                            </div>
                            <footer>
                                <div class="copyright">
                                    筑栈（上海）信息技术有限公司 KodeRover
                                    ©<span v-html="year"></span>
                                </div>
                            </footer>
                        </el-col>
                    </el-row>
                </div>
            </div>
        </div>
    </body>
</html>
<script type="text/javascript" src="../static/js/axios.min.js"></script>
<script type="text/javascript" src="../static/js/store.min.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
