{{ template "header.html" . }}

<!-- 头结束 -->
<header>
    <a href="#">
        <img
            src="{{ url .ReqPath "static/img/default-logo-white.png" }}"
            alt="logo"
        />
    </a>
</header>
<section>
    <el-form
        :model="loginForm"
        status-icon
        :rules="rules"
        ref="loginForm"
        label-position="left"
        hide-required-asterisk
    >
        <el-form-item
            label="用户名"
            prop="account"
        >
            <el-input
                v-model="loginForm.account"
                placeholder="请输入用户名"
                autocomplete="off"
            ></el-input>
        </el-form-item>
        <el-form-item
            label="密码"
            prop="password"
        >
            <el-input
                type="password"
                @keyup.enter.native="login"
                v-model="loginForm.password"
                autocomplete="off"
                placeholder="请输入密码"
                show-password
            ></el-input>
        </el-form-item>
    </el-form>
    <span v-if="showLoginError" class="error-text">用户名或密码不正确</span>
    <el-button
        type="submit"
        @click="login"
        :loading="loading"
        class="btn-md btn-theme login-btn"
        >登录</el-button
    >
</section>
<section class="auth-types">
    <span class="login-button-show methods-desc">
        <span>第三方登录：</span>
    </span>
    {{ range $c := .Connectors }}
        {{ if and (ne $c.Name "Email") (ne $c.Type "oauth") (ne $c.Type "ldap") (ne $c.Type "github") }}
        <a href="{{ $c.URL }}">
            <span class="login-button-show">
                <i class="iconfont iconotherauth"></i>
            </span>
        </a>
        {{ else if (ne $c.Name "Email")}}
        <a href="{{ $c.URL }}">
            <span class="login-button-show">
                <i class="iconfont icon{{ $c.Type }}"></i>
            </span>
        </a>
        {{ end }}
    {{ end }}
    <span class="divide">|</span>
    <a href="/signin?findPassword=true">
        <span class="login-button-show function-btn">
            <span>找回密码</span>
        </span>
    </a>
    <template v-if="showRegistration">
        <span class="divide">|</span>
        <a href="/signin?signUp=true">
            <span class="login-button-show function-btn">
                <span>注册</span>
            </span>
        </a>
    </template>
  </section>
  <!-- 尾结束 -->

{{ template "footer.html" . }}
