{{ template "header.html" . }}

<header>
    <a href="#"
        ><img src="{{ url .ReqPath "static/img/default-logo-white.png" }}"
        alt="logo" /></a
    >
</header>
<!-- <div class="password">
  <form method="post" action="{{ .PostURL }}">
      <div class="form-group">
        <label for="userid">{{ .UsernamePrompt }}</label>
        <input required id="login" name="login" type="text" class="form-control" placeholder="{{ .UsernamePrompt | lower }}" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }}/>
      </div>
      <div class="form-group">
        <label for="password">密码</label>
        <div class="input--suffix">
          <input
              required
              id="password"
              name="password"
              :type="showPassword?'text':'password'"
              class="form-control"
              placeholder="请输入密码"
              {{ if .Invalid }} autofocus {{ end }}
          />
          <span class="input__suffix">
              <span class="input__suffix-inner">
              <i @click="showPassword = !showPassword" class="iconfont iconview"></i>
              </span>
          </span>
      </div>
      </div>
      {{ if .Invalid }}
      <p class="text-left error-text">{{ .UsernamePrompt }}或密码不正确</p>
      {{ end }}
      <button type="submit" class="btn btn-primary btn-md btn-block">登录</button>
  </form>
  {{ if .BackLink }}
  <div class="link-back">
    <a class="dex-subtle-text" href="{{ .BackLink }}">选择其它登录方式</a>
  </div>
  {{ end }}
</div> -->

<section>
    <el-form
        method="post"
        action="{{ .PostURL }}"
        :model="otherLogin"
        status-icon
        ref="otherLoginForm"
        label-position="left"
        hide-required-asterisk
    >
        <el-form-item label="{{ .UsernamePrompt }}" prop="login">
            <el-input
                v-model="otherLogin.login"
                placeholder="{{ .UsernamePrompt }}"
                autocomplete="off"
            ></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
            <el-input
                type="password"
                v-model="otherLogin.password"
                autocomplete="off"
                placeholder="请输入密码"
                show-password
            ></el-input>
        </el-form-item>
        {{ if .Invalid }}
        <span class="error-text">用户名或密码不正确</span>
        {{ end }}
        <el-button native-type="submit" class="btn-md btn-theme login-btn"
            >登录</el-button
        >
    </el-form>
    {{ if .BackLink }}
    <div class="link-back">
        <a href="{{ .BackLink }}">选择其它登录方式</a>
    </div>
    {{ end }}
</section>

{{ template "footer.html" . }}
