{{ template "header.html" . }}

<header>
    <a href="#"
        ><img src="{{ url .ReqPath "static/img/default-logo.png" }}"
        alt="logo" /></a
    >
</header>

<section>
    <el-form
        method="post"
        action="{{ .PostURL }}"
        :model="otherLogin"
        status-icon
        ref="otherLoginForm"
        label-position="left"
        hide-required-asterisk
    >
        <el-form-item label="{{ .UsernamePrompt }}" prop="login">
            <el-input
                name="login"
                id="login"
                v-model="otherLogin.login"
                placeholder="{{ .UsernamePrompt }}"
                autocomplete="off"
            ></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
            <el-input
                name="password"
                id="password"
                type="password"
                v-model="otherLogin.password"
                autocomplete="off"
                placeholder="请输入密码"
                show-password
            ></el-input>
        </el-form-item>
        {{ if .Invalid }}
        <span class="error-text">用户名或密码不正确</span>
        {{ end }}
        <el-button native-type="submit" class="btn-md btn-theme login-btn"
            >登录</el-button
        >
    </el-form>
    {{ if .BackLink }}
    <div class="link-back">
        <a href="{{ .BackLink }}">选择其它登录方式</a>
    </div>
    {{ end }}
</section>

{{ template "footer.html" . }}
